body {
 background-color: black;
 background-size: cover;
}

h1 {
  margin: 0;
}

.easteregg {
  position: absolute;
  bottom: 1%;
  left: 1%;
}

.sidenavButton{
    position: absolute;
    bottom: 5%;
    margin: 20px 80px !important;
}

.btn{
  background-color: grey;
}

.hide {
   display: none;
}

.panel {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 2em;
  margin-bottom: 20px;
}

p span img {
  margin-bottom: -10px;
  margin-right: 6px;
}

button{
  margin-left: -6.3px;
  background-color: black;
  border:none;
  cursor: pointer;
}

p img {
  margin-bottom: -6px;
  margin-right: 3px;
}

.text {
  margin-bottom: -8px;
  margin-left: -1px;
  margin-right: 5px;
}

input {
  height: 50px;
}

textarea {
  min-height: 90px;
}

.add-button{
  background-color: grey;
  color:white;
}

@media only screen and (max-width: 767px) {
  .content {
    background-image: url(images/background-photo-mobile-devices.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
	}
